<%= form_for(@client_order) do |f| %>
  <% if @client_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_order.errors.count, "error") %> prohibited this client_order from being saved:</h2>

      <ul>
      <% @client_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= collection_select(:order, :order_status_id, OrderStatus.all, :id, :name, {prompt: true}) %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>