<%= magazine.name %>
<%= magazine.description %>
<%= image_tag(magazine.picture_url, :width => 200) if magazine.picture.present? %>

<% if user_signed_in? %>
<%= form_for order_item, remote: true do |f| %>
  <h4 class="text-right">Unit Price: <span style="color: green"><%= magazine.price %></span></h4>
  <div class="input-group">
    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
    <div class="input-group-btn">
    <%= f.hidden_field :magazine_id, value: magazine.id %>
    <%= f.submit "Add to Cart", class: "btn btn-primary" %>
     </div>
  </div>
<% end %>

<%= link_to 'Show', magazine %>

<% if can? :update, magazine %>
  <%= link_to 'Edit', edit_magazine_path(magazine) %>
<% end %>

<% if can? :destroy, magazine %>
  <%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>