<table>
	<tr><td><%=@user.name %></td></tr>
	<tr><td><%=@user.address %></td></tr>
	<tr><td><%=@user.city %></td></tr>
	<% @order_items.each do |order_item| %>
    	<tr>
    		<td><%= order_item.quantity%> x</td> 
    		<td><%= Magazine.find_by(id: order_item.magazine_id).name %></td>
    		<td><%= Magazine.find_by(id: order_item.magazine_id).price * order_item.quantity%> zł</td>
    	</tr>
 	<% end %>
</table>
<p>	Suma: <%= @order.subtotal %> zł
<% if can? :show, Order %>
	<p>	Koordynator: 
		<% if Role.find_by(id: @user.role_id).name == "Coordinator"%>
			Tak
		<% else %>
			Nie
		<% end %>
<% end %>
<p> Status: <%= @status.find_by(id: @order.order_status_id).name%>