<h4><%= magazine.name %></h4>
  
      
      <%= form_for order_item, remote: true do |f| %>
        <p>Cena: <%= order_item.unit_price %> zł</p>
     
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :magazine_id, value: magazine.id %>
  
              <%= f.submit "Zmień ilość" %>
              <%= link_to "Usuń", order_item, { data: { confirm: "Chcesz usunąć '#{order_item.magazine.name}' z koszyka?" }, method: :delete, remote: true } %>
  
        <p>Suma: <%= order_item.total_price %> zł</p>
      <% end %>
 